#title{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

#link1{
    padding: 10px;
}

li {
    padding: 5px
}

#navbar-container {
    font-weight: bold;
}

#spell {
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
}
#container {
    padding: 0px;
}
#filterCol {
    padding: 10px;
    background-color: lightgray;
}
#race {
    font-weight: bold;
}
#trait {
    font-weight: 400;
}